.l-box-header {
    background-color: #3E007D;
    background-position: center;
    background-size: cover;
    height: 60px;
    border-bottom: 5px solid #f8931d;
}


.l-box-nav {
    background-color: #3E007D !important;
}

.c-text-menu {
    color: #fff !important;
}

.l-main-data {
    margin-top: 120px;
    margin-bottom: 60px;
}

.logo {
    width: 180px;
    position: absolute;
    margin-left: -90px;
    margin-top: -5px
}